itsdangerous~=1.1.0
Werkzeug
celery[redis]~=4.4.0
jobtastic~=2.1.1
flask~=1.1.1
Flask-Caching
Flask-CORS
redis==3.3.11
python-logstash~=0.4.6
numpy==1.18.1
datacube==1.8.3
shapely==1.7.1
bcrypt~=3.1.7


setuptools~=40.8.0
boto3~=1.12.19
pip~=19.0.3
six~=1.14.0

nbformat>=4.4
yapf>=0.30.0
GitPython