<html lang="en">
<head>
    <title>Cube Query</title>
    <link rel="stylesheet" href="/static/main.css">
    <script>

        function appendKey(url) {
            let key = document.getElementById("app_key").value;
            if (url.includes("?")) {
                return url + "&APP_KEY=" + key
            } else {
                return url + "?APP_KEY=" + key
            }
        }

        function lookupTask() {
            let id = document.getElementById("task_id").value;
            let request = new XMLHttpRequest();
            let url = "/task/";
            if (id !== "") {
                url = url + id
            }
            request.open("GET", appendKey(url));
            request.onload = function () {
                console.log(this.response)
            };

            request.send();
        }

        // the description recovered from the system using the describe call.
        let system_description = {};

        function load_system_description() {
            let request = new XMLHttpRequest();
            let url = "/describe";
            request.open("GET", appendKey(url));
            request.onload = function () {
                console.log(this.response);
                if (request.status >= 200 && request.status < 400) {
                    system_description = JSON.parse(this.response);
                    createForm();
                }
            };

            request.send();
        }

        function clear_div(el) {
            while (el.firstChild) {
                el.removeChild(el.firstChild);
            }
        }

        function createForm() {


            let parent_div = document.getElementById("task_submission_form");
            clear_div(parent_div);
            let dropdown = document.createElement("select");
            dropdown.id = "process_select";
            dropdown.onchange = createFields;
            parent_div.appendChild(dropdown);

            for (let i = 0; i < system_description.length; i++) {
                let f = system_description[i];
                let el = document.createElement("option");
                el.text = f.display_name;
                el.value = f.name;
                el.index = i;

                dropdown.add(el);
            }
            dropdown.selectedIndex = 0;

            createFields();

            // create the submit button
            let submit_button = document.createElement("button");
            submit_button.innerText = "Submit";
            submit_button.onclick = submit_form;

            parent_div.appendChild(submit_button)
        }

        function createFields() {
            let field_div = document.getElementById("task_submission_fields");
            if (!field_div) {
                field_div = document.createElement("div");
                field_div.id = "task_submission_fields";
                document.getElementById("task_submission_form").appendChild(field_div);
            } else {
                clear_div(field_div);
            }

            // find the currently selected entry
            let index = document.getElementById("process_select").selectedIndex;
            console.log(index);
            let process = system_description[index];
            for (let i = 0; i < process.args.length; i++) {
                let p = process.args[i];
                let instance_div = document.createElement("div");
                const id_string = "arg_" + p.name;

                let label_el = document.createElement("label");
                label_el.innerText = p.name;
                label_el.for = id_string;

                instance_div.appendChild(label_el);
                console.log("creating field " + p.name + " with type " + p.type + " and valid values " + p.valid_values.length);
                if (p.valid_values &&
                    ((["int", "float", "date"].includes(p.type) && p.valid_values.length > 2) ||
                        ((!["int", "float", "date"].includes(p.type)) && p.valid_values.length > 0))
                ) {
                    // should be a select input type.
                    let select_el = document.createElement("select");

                    instance_div.appendChild(select_el);

                    select_el.id = id_string;
                    for (let j = 0; j < p.valid_values.length; j++) {
                        let el = document.createElement("option");
                        el.text = p.valid_values[j];
                        el.value = p.valid_values[j];
                        el.index = j;

                        select_el.add(el);
                    }

                } else {
                    // a text input (unless the type is something we can put a html 5 input for.
                    let input_el = document.createElement("input");
                    input_el.id = id_string;

                    if (p.valid_values && (p.valid_values.length === 2 && ["int", "float", "date"].includes(p.type))) {
                        input_el.min = p.valid_values[0];
                        input_el.max = p.valid_values[1];
                    }

                    if (p.type === "int") {
                        input_el.type = "number";
                    } else if (p.type === "float") {
                        input_el.type = "number";
                        input_el.step = "0.001";
                    } else if (p.type === "date") {
                        input_el.type = "date";
                    } else {
                        input_el.type = "text";
                    }

                    instance_div.appendChild(input_el);
                }
                let description_el = document.createElement("p");
                description_el.innerText = p.description;

                instance_div.appendChild(description_el);

                field_div.appendChild(instance_div);
            }
        }

        function submit_form() {

            let task_name = document.getElementById("process_select").value;

            let args = {};

            let index = document.getElementById("process_select").selectedIndex;
            let process = system_description[index];
            for (let i = 0; i < process.args.length; i++) {
                let p = process.args[i];
                const id_string = "arg_" + p.name;
                let field = document.getElementById(id_string);
                args[p.name] = field.value;
            }

            let payload = JSON.stringify(
                {
                    task: task_name,
                    args: args
                }
            );

            console.log(payload);

            let request = new XMLHttpRequest();
            let url = "/task";
            request.open("POST", appendKey(url));
            request.setRequestHeader("Content-Type", "application/json");
            request.send(payload);
        }

        function fetch_token() {
            let user_name = document.getElementById("username").value;
            let pass = document.getElementById("pass").value;
            let request = new XMLHttpRequest();
            let url = "/token";
            request.open("POST", appendKey(url));
            request.setRequestHeader("Content-Type", "application/json");
            request.onload = function () {
                if (request.status >= 200 && request.status < 400) {
                    let token_response = JSON.parse(this.response);
                    document.getElementById("app_key").value = token_response.token;
                }
            };
            request.send(JSON.stringify(
                {
                    name: user_name,
                    pass: pass
                }
            ));

            return false;
        }

    </script>
</head>
<body>
<h1>Test Task Submission Form</h1>

<label for="username">User:</label><input id="username" type="text">
<label for="pass">Pass:</label><input id="pass" type="password">
<button onclick="fetch_token();">log in</button>
<br>

<label for="app_key">App key:</label><input id="app_key" type="text" value="fishfishfish">

<hr>
<h2>Lookup tasks</h2>
<label for="task_id">Task ID (leave blank for all tasks):</label><input id="task_id" type="text" value="">
<button title="Lookup" onclick="lookupTask()">Lookup</button>
<div id="task_look_results"></div>

<hr>
<h2>Task Submission</h2>
<button title="LoadTasks" onclick="load_system_description()">Load Task Information</button>
<div id="task_submission_form"></div>

</body>
</html>